In [1]:
import pyodbc
import pandas as pd

In [2]:
(r'DRIVER={ODBC Driver 17 for SQL Server};' +
        ('SERVER={server},{port};'   +
        'DATABASE={database};'      +
        'UID={username};'           +
        'PWD={password}').format(
                server= '65.175.68.34',
                  port= 1433,
              database= 'VsaDev',
              username= 'sa',
              password= 'H4ZXZy-vRZwL#9A')
        )

config = dict(server= '65.175.68.34',
                  port= 1433,
              database= 'VsaDev',
              username= 'sa',
              password= 'H4ZXZy-vRZwL#9A')

conn_str = ('SERVER={server},{port};'   +
            'DATABASE={database};'      +
            'UID={username};'           +
            'PWD={password}')
conn = pyodbc.connect(
    r'DRIVER={ODBC Driver 13 for SQL Server};' +
    conn_str.format(**config)
    )

In [3]:
data = ("SELECT g.GeneratedPlanID,\
        g.ParameterSetID,\
        p.MajorID,\
        m.Name as PreferedMajor, \
        p.SchoolID,\
        s.Name as PreferedSchool,\
        p.JobTypeID,\
        j.JobType,\
        QuarterPreferenceID,\
        q.Quarter as PreferedStartQuarter,\
        gp.StartingQuarter,\
        q1.Quarter as ActualStartQuarter,\
        NumberCoreCoursesPerQuarter,\
        gp3.NumberOfCorePerQuarter as ActualNumberofCore,\
        MaxNumberOfQuarters as PreferedNumberQuarters,\
        gp.NumberOfQuarters as ActualNumberQuarters,\
        CreditsPerQuarter,\
        SummerPreference as SummerPref,\
        gp2.SummerClass as ActualSummerPref,\
        p.EnrollmentTypeID,\
        e.EnrollmentDescription as EnrollmentType,\
        gp.TotalNumberOfCourses,\
        m1.MathStarting,\
        eng.EnglishStarting,\
        g.MachineScore\
        FROM VsaDev.dbo.ParameterSet as p\
        INNER JOIN VsaDev.dbo.Major as m ON p.MajorID = m.MajorID\
        INNER JOIN VsaDev.dbo.School as s ON p.SchoolID = s.SchoolID\
        INNER Join VsaDev.dbo.JobType as j on p.JobTypeID = j.JobTypeID\
        INNER JOIN VsaDev.dbo.Quarter as q on p.QuarterPreferenceID = q.QuarterID\
        INNER JOin VsaDev.dbo.EnrollmentType as e on p.EnrollmentTypeID = e.EnrollmentTypeID\
        Inner join VsaDev.dbo.GeneratedPlan as g on g.ParameterSetID = p.ParameterSetID \
        Inner JOin \
        (select s.GeneratedPlanID,\
        Count (distinct s.QuarterID) as NumberOfQuarters,\
        Count(s.CourseID)  as TotalNumberOfCourses,\
         MIN(QuarterID) as StartingQuarter\
        from VsaDev.dbo.StudyPlan as s\
        GROUP by s.GeneratedPlanID ) as gp on gp.GeneratedPlanID = g.GeneratedPlanID\
        Inner join VsaDev.dbo.Quarter as q1 on gp.StartingQuarter = q1.QuarterID\
        Full join \
        (select * from \
        (select  s.GeneratedPlanID,case when s.QuarterID = 4 then 'Yes'\
        end as SummerClass\
        from StudyPlan as s\
        GROUP by s.QuarterID,s.GeneratedPlanID)\
        as d where d.SummerClass = 'Yes') as gp2 on gp2.GeneratedPlanID = g.GeneratedPlanID\
        full JOIN\
        (select  s1.GeneratedPlanID, Count(s1.NumberOfCoursesPerQuarter)as NumberOfCorePerQuarter\
        from (\
        select  s.GeneratedPlanID,\
        s.QuarterID,\
        count(s.CourseID) as NumberOfCoursesPerQuarter\
        FROM VsaDev.dbo.StudyPlan as s\
        where s.CourseID in (select CourseID from Course as c where c.CourseNumber like 'MATH%' UNION select CourseID from Course as co1 where co1.CourseNumber like 'ENGL%')\
        GROUP by s.QuarterID,s.GeneratedPlanID)as s1\
        GROUP by s1.GeneratedPlanID) as gp3 on gp3.GeneratedPlanID = g.GeneratedPlanID\
        FULL JOIN\
        (select  s.GeneratedPlanID,\
        MIN(s.CourseID) as MathStarting\
        FROM VsaDev.dbo.StudyPlan as s\
        where s.CourseID in (select CourseID from Course as c where\
        c.CourseNumber like 'MATH%')\
        GROUP by s.GeneratedPlanID) as m1 on m1.GeneratedPlanID = g.GeneratedPlanID\
        full JOIN\
        (select  s.GeneratedPlanID,\
        MIN(s.CourseID) as EnglishStarting\
        FROM VsaDev.dbo.StudyPlan as s\
        where s.CourseID in (select CourseID from Course as c where c.CourseNumber like 'ENGL%')\
        GROUP by s.GeneratedPlanID) as eng on eng.GeneratedPlanID = g.GeneratedPlanID;")

In [4]:
vaaData = pd.read_sql(data, conn)

In [5]:
vaaData.shape

(295, 25)

In [6]:
vaaData = vaaData.drop('ParameterSetID',1)
vaaData = vaaData.drop('MajorID',1)
vaaData = vaaData.drop('SchoolID',1)
vaaData = vaaData.drop('JobTypeID',1)
vaaData = vaaData.drop('QuarterPreferenceID',1)
vaaData = vaaData.drop('StartingQuarter',1)
vaaData = vaaData.drop('EnrollmentTypeID',1)

In [7]:
import CalculateSequenceBreak as cb

math break= 79
english break = 67

/Users/sgaruda/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

     GeneratedPlanID  MathSequenceBreak
0                  1                 71
1                  3                 68
2                  4                100
3                  5                100
4                  6                  0
5                  7                 72
6                  8                 36
7                  9                100
8                 10                100
9                 11                100
10                12                 50
11                13                 78
12                14                 66
13                16                 66
14                17                 57
15                18                 71
16                19                 59
17                20                 59
18                21                  0
19                22                100
20                23                 79
21                24                 44
22                25                 89
23                26                  0
24                27                  0
25                28                100
26                29                 89
27                30                 51
28                31                 65
29                32                 71
..               ...                ...
130              412                 36
131              416                100
132              420                100
133              424                100
134              428                 50
135              432                 78
136              436                 66
137              444                 66
138              448                 57
139              449                 71
140              453                 59
141              457                 71
142              461                  0
143              471                 89
144              475                100
145              479                100
146              483                 89
147              487                 51
148              491                 65
149              495                 71
150              499                 26
151              504                 58
152              508                100
153              513                 81
154              517                 74
155              521                 35
156              525                 47
157              526                 60
158              532                 55
159              536                 68

[160 rows x 2 columns]
     GeneratedPlanID  EnglishSequenceBreak
0                  1                   100
1                  3                    72
2                  6                   100
3                  7                   100
4                 10                   100
5                 13                    72
6                 14                    72
7                 17                    72
8                 19                    72
9                 21                   100
10                23                    84
11                24                    84
12                26                   100
13                27                   100
14                28                   100
15                30                    72
16                31                   100
17                32                   100
18                33                   100
19                35                   100
20                36                   100
21                37                   100
22                40                   100
23                41                    71
24                42                   100
25                44                    72
26                45                   100
27                46                   100
28                47                   100
29                48                   100
..               ...                   ...
117              625                    53
118              626                     0
119              627                    54
120              628                    72
121              630                    32
122              632                    77
123              633                    77
124              634                    77
125              635                    72
126              637                   100
127              639                     0
128              642                     0
129              643                    72
130              644                    72
131              645                    72
132              647                    72
133              648                     0
134              651                    72
135              653                     0
136              657                    72
137              658                     0
138              659                     0
139              660                   100
140              661                     0
141              662                    72
142              668                    79
143              672                    79
144              673                    79
145              674                    79
146              678                    79

[147 rows x 2 columns]

In [8]:
 c = cb.CalculateSequenceBreak()

/Users/sgaruda/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [9]:
mathSequenceBreak = c.get_math_seqBreak()
englishSequenceBreak = c.get_eng_seqBreak()
# print(len(mathSequenceBreak[0]))
labels = ['GeneratedPlanID','mathSequenceBreak']
math_df = pd.DataFrame.from_records(mathSequenceBreak,columns = labels)
print(math_df)
labels = ['GeneratedPlanID','englishSequenceBreak']
eng_df = pd.DataFrame.from_records(englishSequenceBreak,columns = labels)
print(eng_df)

     GeneratedPlanID  mathSequenceBreak
0                  1                 71
1                  3                 68
2                  4                100
3                  5                100
4                  6                  0
5                  7                 72
6                  8                 36
7                  9                100
8                 10                100
9                 11                100
10                12                 50
11                13                 78
12                14                 66
13                16                 66
14                17                 57
15                18                 71
16                19                 59
17                20                 59
18                21                  0
19                22                100
20                23                 79
21                24                 44
22                25                 89
23                26                  0
24                27                  0
25                28                100
26                29                 89
27                30                 51
28                31                 65
29                32                 71
..               ...                ...
130              412                 36
131              416                100
132              420                100
133              424                100
134              428                 50
135              432                 78
136              436                 66
137              444                 66
138              448                 57
139              449                 71
140              453                 59
141              457                 71
142              461                  0
143              471                 89
144              475                100
145              479                100
146              483                 89
147              487                 51
148              491                 65
149              495                 71
150              499                 26
151              504                 58
152              508                100
153              513                 81
154              517                 74
155              521                 35
156              525                 47
157              526                 60
158              532                 55
159              536                 68

[160 rows x 2 columns]
     GeneratedPlanID  englishSequenceBreak
0                  1                   100
1                  3                    72
2                  6                   100
3                  7                   100
4                 10                   100
5                 13                    72
6                 14                    72
7                 17                    72
8                 19                    72
9                 21                   100
10                23                    84
11                24                    84
12                26                   100
13                27                   100
14                28                   100
15                30                    72
16                31                   100
17                32                   100
18                33                   100
19                35                   100
20                36                   100
21                37                   100
22                40                   100
23                41                    71
24                42                   100
25                44                    72
26                45                   100
27                46                   100
28                47                   100
29                48                   100
..               ...                   ...
117              625                    53
118              626                     0
119              627                    54
120              628                    72
121              630                    32
122              632                    77
123              633                    77
124              634                    77
125              635                    72
126              637                   100
127              639                     0
128              642                     0
129              643                    72
130              644                    72
131              645                    72
132              647                    72
133              648                     0
134              651                    72
135              653                     0
136              657                    72
137              658                     0
138              659                     0
139              660                   100
140              661                     0
141              662                    72
142              668                    79
143              672                    79
144              673                    79
145              674                    79
146              678                    79

[147 rows x 2 columns]

In [10]:
math_merged = pd.merge(vaaData, math_df, on='GeneratedPlanID',how = 'outer')

In [11]:
eng_merged = pd.merge(math_merged, eng_df, on='GeneratedPlanID',how = 'outer')

In [12]:
eng_merged.to_csv("getVAAData_may6.csv")